.footer {
    color: #727272;
    /* overflow-x: hidden; */
    font-size: 15px;
  }
  .footer-head {
    color: #727272;
    background-color: black;
    padding-top: 3rem;
  }
  .footer input {
    border: none;
    outline: none;
    background-color: black;
    border-bottom: 1px solid #ffffff;
    position: relative;
    color: #ffffff;
  }
  .footer i {
    position: absolute;
    left: 75.5%;
  }
  @media screen and (min-width: 500px) and (max-width: 900px) {
    .footer i {
      left: 34%;
    }
  }
  .footer h4 {
    color: #f2f2f2;
  }
  .footer h1 {
    color: #f2f2f2;
  }
  .pay {
    padding-bottom: 1.5rem;
  }
  .pay i {
    font-size: 25px;
    padding: 5px;
  }
  .icons i {
    padding: 10px;
  }
  @media screen and (min-width: 500px) and (max-width: 900px) {
    .pay i {
      font-size: 25px;
      /* padding: 5px; */
      float: left;
    }
    .icons i {
      /* padding: 10px; */
      float: left;
    }
  }
  